.font-blue{
	color: #6f6ff4; 
	background: white;
	font-size:18px;
}

.tamaño{
	height-size: 70%;
}

.cabecera{
	background: #c6cef2;
	text-align: center;
	font: bolt 36px verdana, sand-serif;
	padding-left: 15%;
	padding-top: 5%;
	height: 100px;
}

.button1 {
    background-color: white;
    color: #8000ff;
    border: 2px solid #8000ff; /* Green */
}