@CHARSET "UTF-8";
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


.menu {
    list-style: none;
    background-color: #333;
}


.menu ul li {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: -1px 0 #6500ca, 0 1px #6500ca, 1px 0 #6500ca, 0 -1px #6500ca;
}

.menu li a:hover {
    background-color: #6f6f6f;
}